/* app css stylesheet */

p {
  text-align: justify;
}

hr {
  margin: 15px 0;
}

/* spreadsheet download (file list)*/
div.tsv_downlaod {
  text-align: right;
  clear: right;
}

/*Print icon*/
div.print {
  position: relative;
}
div.print img {
  height: 24px;
}
div.print a {
  cursor: pointer;
  position: absolute;
  margin: 7px;
  right: 0;
}
@media print {
  div.print {
    display: none;
  }
}

/*Sort BG*/
.sort {
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
  background-image: url(../img/bg.gif);
}

.slanted .sort {
    background-position: right 58px;
}
.sort.sortAsc {
	background-image: url(../img/asc.gif);
}
.sort.sortDesc {
	background-image: url(../img/desc.gif);
}

/*charts on the front page*/
.chart {
  max-width: 250px;
  max-height: 250px;
}
/*footer images should all scale to the height of the blueprint logo, but keep their aspect ratio*/
.footer div.logo {
  text-align: center;
}
.footer div.logo:first-child {
  text-align: left;
}
.footer div.logo:last-child {
  text-align: right;
}
@media (max-width: 767px) { /* @screen-xs-max */
  .footer div.logo {
    text-align: center !important;
    margin-bottom: 15px;
  }
}
.footer div.logo img {
  height: 54px;
}
.footer  {
  font-size: 11px;
  padding-bottom: 15px;
}
.footer .right{
  text-align: right;
}

/* push images in paragraphs over to the left */
p .left-image{
  margin: 0 5px 5px 0;
  float: left;
}

/*Partially collapsed facet list, overflow is used to detect if the show more button is required*/
.facet ul.list-group.collapsed{
  max-height: 250px;
  overflow: hidden;
}
/*Show hide button appears in the factet title bar*/
.facet button {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* Facet filter query input*/
.facet-filter{
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*match the panel heading style*/
.facet .heading{
  background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
/*make it clear that facet terms do something*/
.facet .facet-term:hover{
  color:rgb(107, 174, 214);
}
/*Download link symbol is a bit weedy, make it bigger and bolder*/
a.download {
  font-size: 1.3em;
  font-weight: bolder;
  text-decoration: underline;
}
/*padding for the fixed position nav bar */
body { padding-top: 60px; } 

/*angular ui bootstrap css fix see http://angular-ui.github.io/bootstrap/*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* experiment grid styles */
div.experiments-wrapper {
  padding-right: 80px; /* to prevent slanting heading to overflow out of the page */
}
table.experiments th.assays{
  width: 25px;
  height: 80px;
  white-space: nowrap;
}      
table.experiments th.assays > div {
  -ms-transform:translate(20px, 0px) rotate(315deg);
  -moz-transform:translate(20px, 0px) rotate(315deg);
  -webkit-transform:translate(20px, 0px) rotate(315deg);
  -o-transform:translate(20px, 0px) rotate(315deg);
  transform:translate(20px, 0px) rotate(315deg);
  width: inherit;
}
table.experiments th.assays > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
table.experiments td.assays {
  text-align: center;
  border-left: thin solid #ddd;
}

table.experiments td.assays a {
  color: #058dc7;
  font-size: 20px;
  text-decoration:none;
  text-align: center;
}

/* layout for experiment and files page with fixed width lhs column */
@media (min-width: 992px) { /* @screen-md-min */
  .fixd-width-lhs {
    width: 350px;
  }

  .fixd-width-rhs {
    float: none;
    margin-left: 350px;
    width: auto;
  }
}