/* app css stylesheet */

/*Sort BG*/
.sort {
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
  background-image: url(../img/bg.gif);
}

.slanted .sort {
    background-position: 98% 75%;
}

.sort.sortAsc {
	background-image: url(../img/asc.gif);
}
.sort.sortDesc {
	background-image: url(../img/desc.gif);
}

/*charts on the front page*/
.chart {
  max-width: 250px;
  max-height: 250px;
}
/*footer images should all scale to the height of the blueprint logo, but keep their aspect ratio*/
.footer img.logo {
  height: 54px;
}
.footer  {
  font-size: 11px;
}
.footer .right{
  text-align: right;
}
.footer .right img{
  float: right;
}
.footer .middle img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* push images in paragraphs over to the left */
p .image{
  margin: 5px;
  float: left;
}

/*Partially collapsed facet list, overflow is used to detect if the show more button is required*/
.facet ul.list-group.collapsed{
  max-height: 250px;
  overflow: hidden;
}
/*Show hide button appears in the factet title bar*/
.facet button {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* Facet filter query input*/
.facet-filter{
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*match the panel heading style*/
.facet .heading{
  background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
/*make it clear that facet terms do something*/
.facet .facet-term:hover{
  color:rgb(107, 174, 214);
}
/*Download link symbol is a bit weedy, make it bigger and bolder*/
a.download {
  font-size: 1.3em;
  font-weight: bolder;
  text-decoration: underline;
}
/*padding for the fixed position nav bar */
body { padding-top: 60px; } 

/*angular ui bootstrap css fix see http://angular-ui.github.io/bootstrap/*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* experiment grid styles */
table.experiments th.assays{
  height: 80px;
  white-space: nowrap;
}      
table.experiments th.assays > div {
  -ms-transform:translate(23px, -1px) rotate(315deg);
  -moz-transform:translate(23px, -1px) rotate(315deg);
  -webkit-transform:translate(23px, -1px) rotate(315deg);
  -o-transform:translate(23px, -1px) rotate(315deg);
  transform:translate(23px, -1px) rotate(315deg);
  width: 30px;
}
table.experiments th.assays > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
table.experiments td.assays {
  text-align: center;
}

table.experiments td.assays a {
  color: #058dc7;
  font-size: 20px;
  text-decoration:none;
}
