<div class="row">
	<h2>File list</h2>
	<hr/>
</div>

<div class="row" ui-facets items="items">
  <div class="col-md-3">
    <!--Sidebar content-->
  		<ui-facets-clear text="Clear filters"></ui-facets-clear>
		
			<ui-facet title="Experiment" property="DATA_LABEL"></ui-facet>
			<ui-facet title="Analysis provider" property="ANALYSIS_GROUP"></ui-facet>
			<ui-facet title="Type" property="TYPE"></ui-facet>
			<ui-facet title="Cell type" property="CELL_TYPE"></ui-facet>
			<ui-facet title="Cell line" property="CELL_LINE"></ui-facet>
			<ui-facet title="Tissue" property="TISSUE_TYPE"></ui-facet>
			<ui-facet title="Sex" property="DONOR_SEX"></ui-facet>
			<ui-facet title="Donor" property="DONOR_ID"></ui-facet>
  </div>
	
  <div class="col-md-9">
    <!--Body content-->
		<pagination 
			total-items="items.length"
			ng-model="currentPage"
			items-per-page="pageSize"
			max-size="numPages"
			class="pagination-sm" boundary-links="true" rotate="false" ></pagination>

			<div class="facet-filter">
	    Search: <ui-facet-filter></ui-facet-filter>
			</div>
		<table class="table table-striped">
			<thead>
				<tr>
		      <th>Download</th>									 
					<th class="sort" ng-class="{sortAsc: (orderProp == 'SAMPLE_DESC_1'),sortDesc: (orderProp == '-SAMPLE_DESC_1')}" ng-click="order('SAMPLE_DESC_1')">Group</th>
					<th class="sort" ng-class="{sortAsc: (orderProp == 'SAMPLE_DESC_3'),sortDesc: (orderProp == '-SAMPLE_DESC_3')}" ng-click="order('SAMPLE_DESC_3')">Sub-group</th>
					<th class="sort" ng-class="{sortAsc: (orderProp == 'SAMPLE_DESC_2'),sortDesc: (orderProp == '-SAMPLE_DESC_2')}" ng-click="order('SAMPLE_DESC_2')">Name</th>					
		      <th class="sort" ng-class="{sortAsc: (orderProp == 'DONOR_SEX'),sortDesc: (orderProp == '-DONOR_SEX')}" ng-click="order('DONOR_SEX')">Sex</th>
					<th class="sort" ng-class="{sortAsc: (orderProp == 'DATA_LABEL'),sortDesc: (orderProp == '-DATA_LABEL')}" ng-click="order('DATA_LABEL')">Experiment</th> 
					<th class="sort" ng-class="{sortAsc: (orderProp == 'TYPE'),sortDesc: (orderProp == '-TYPE')}" ng-click="order('TYPE')">Type</th>
		      <th class="sort" ng-class="{sortAsc: (orderProp == 'FORMAT'),sortDesc: (orderProp == '-FORMAT')}" ng-click="order('FORMAT')">Format</th>
					<th class="sort" ng-class="{sortAsc: (orderProp == 'SIZE'),sortDesc: (orderProp == '-SIZE')}" ng-click="order('SIZE')">Size</th>
					<th class="sort" ng-class="{sortAsc: (orderProp == 'ANALYSIS_GROUP'),sortDesc: (orderProp == '-ANALYSIS_GROUP')}" ng-click="order('ANALYSIS_GROUP')"><abbr title="Analysis provider">AP</abbr></th>
					<th>Protocol</th>
					<th>Metadata</th>
				</tr>
			</thead>
			<tbody id="results">				
				<tr ng-repeat="item in items | orderBy:orderProp | pager:currentPage:pageSize">
		      <td><download href="{{item.PATH}}"/></td>
		      <td>{{item.SAMPLE_DESC_1}}</td>
		      <td>{{item.SAMPLE_DESC_3}}</td>
		      <td>{{item.SAMPLE_DESC_2}}</td>
		      <td>{{item.DONOR_SEX}}</td>
					<td>{{item.DATA_LABEL}}</td>
		      <td>{{item.TYPE}}</td>
					<td>{{item.FORMAT}}</td>
					<td>{{item.SIZE}}</td>
					<td>{{item.ANALYSIS_GROUP}}</td>
					<td><a class="btn btn-link" ng-href="#/md/{{item.PROTOCOL_DOC}}">View</td>
					<td><a class="btn btn-link" ng-href="#/experiments/{{item.EXPERIMENT_ID}}">View</td>
				</tr>
			</tbody>
		</table>
		
		<pagination 
			total-items="items.length"
			ng-model="currentPage"
			items-per-page="pageSize"
			max-size="numPages"
			class="pagination-sm" boundary-links="true" rotate="false" ></pagination>
	</div>

</div>

