<div class="row">
	<div class="col-sm-4">
		<a href="http://ihec-epigenomes.org/"><img class="logo" src="img/IHEC_Logo_final.png"/></a>
	</div>
	<div class="col-sm-4 middle">
		<a href="http://www.blueprint-epigenome.eu/"><img class="logo" src="img/blueprint.png"/></a>
	</div>
	<div class="col-sm-4 right">
		<img class="logo" src="img/flag_yellow_low.jpg"/>
	</div>
</div>
<div class="row">
			<div class="col-sm-12">
		<p>This project has received funding from the European Union’s Seventh Framework Programme for research, technological development and demonstration under grant agreement no 282510</p>
		 	</div>
	<div class="col-sm-6">
		<p>This site is hosted by <a href="http://www.ebi.ac.uk/">EMBL-EBI</a>
	</div>		
	<div class="col-sm-6 right">
		<p>Blueprint Epigenome &copy; 2014</p>
	</div>
</div>
