     <!-- Fixed navbar -->
<div id="topnav-bar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
 <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="#">Blueprint DCC</a>
   </div>
   <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
       <li class="dropdown">
         <a href="#" class="dropdown-toggle">Data <span class="caret"></span></a>
         <ul class="dropdown-menu" role="menu">
          <li><a href="#/experiments">Experiment grid</a></li>
          <li><a href="#/files">File table</a></li>
  				 <li class="divider"></li>
				  <li><a href="#/md/data">Data access &amp; availability</a></li>
         </ul>
       </li>
			 <li><a href="#/md/other_resources">Other resources</a></li>
			 <li><a href="#/md/methods">Methods</a></li>
       <li><a href="#/md/help">Help</a></li>
     </ul>
   </div><!--/.nav-collapse -->
 </div>
</div>