<div class="facet">
	<ul class="list-group" ng-class="{collapsed: collapsed}">
		<li class="list-group-item heading">
			<h3 class="panel-title">{{title}}</h3>
			<button type="button" class="btn btn-xs btn-primary" ng-show="buttonRequired" ng-click="toggleCollapse()">{{buttonText}}</button>
		</li>
		<li ng-repeat="item in termContainer.terms" class="list-group-item facet-term" 
			ng-class="{active: selected.hasOwnProperty(item.term)}"
			ng-click="handleClick($event)"
			ui-facet-value="{{item.term}}">
			{{item.term}} <span class="badge">{{item.count}}</span>
		</li>
	</ul>
</div>