<nav>
	<h3 id="logo">Blueprint</h3>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/data">Data</a>
			<ul>
				<li><a href="/data/experiment_grid">Experiment grid</a></li>
			  <li><a href="/data/file_search">File table</a></li>
			  <li><a href="http://blueprint.bsc.es/">BioMart</a></li>
			</ul>
		</li>	
		<li><a href="/analysis_tools">Analysis Tools</a>
			<ul>
				<li><a href="/TODO">WiggleTools</a></li>
				<li><a href="/TODO">EpiExplorer</a></li>
				<li><a href="/TODO">Integrative analysis</a></li>
			</ul>
		</li>						
		<li><a href="/docs">Documentation</a></li>
		<li><a href="/data_availability">Data availability &amp; reuse</a>
		<li>
			<a href="/contact">Contact</a>
		</li>
	</ul>
</nav>