#facet_content {
  display: none;
}
.entry_data {
  display: none;
}

#menu nav h3 {
  display: none;
}
#menu nav {
  width: 100%;
  position: relative;
}
#menu nav ul {
  display: inline; 
  list-style-type: none; 
}
#menu nav li {
  display: inline; 
  list-style-type: none; 
  padding-left: 20px;
}

#menu nav ul ul {
  display: none;
}


/* Styles which are used by facet search elements*/
#facets{    
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding: 5px;
  margin-right: 10px;

  border-radius: 10px;
}
.facettitle{
  text-decoration: underline;
}
.facetitem:hover{
  background-color: rgba(0,192,228,0.5);
}
.facetsearch {
  display: inline-block;
  vertical-align: top;
}
.activeorderby,
.activefacet {
  color: red;
}
.bottomline {
  padding: 10px 0 10px 0;
  font-weight: bold;
}
.bottomline .orderby, {
  display: block;
}
.bottomline .facettotalcount {
  display: block;
}
.bottomline .orderby ul,
.bottomline .orderby li {
  display: block;
}
/*      .bottomline .orderby-title {
  margin: 0 0 0 10px;
}*/
.bottomline .deselectstartover {
/*      float: right;*/
}

#showmorebutton {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

/* Styles used by the regular content */
#facet_content table{
  border-collapse: collapse;
}
#facet_content td.assays {
  width: 30px;
} 
#facet_content th.reg {
  vertical-align:bottom;
}  
#facet_content th.assays{
  height: 80px;
  white-space: nowrap;
}      
#facet_content th.assays > div {
  -ms-transform:translate(10px, 22px) rotate(315deg);
  -moz-transform:translate(10px, 22px) rotate(315deg);
  -webkit-transform:translate(10px, 22px) rotate(315deg);
  -o-transform:translate(10px, 22px) rotate(315deg);
  transform:translate(10px, 22px) rotate(315deg);
  width: 30px;
}
#facet_content th.assays > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
#facet_content td.assays {
  text-align: center;
}
#facet_content tbody tr:nth-child(even) {
   background-color: #ebebeb;
}
#facet_content td.assays a {
  color: rgb(0,192,228);
  font-size: 20px;
  text-decoration:none;
}
      
      

      