#facet_content {
  display: none;
}

/* Styles which are used by facet search elements*/
#facets{    
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding: 5px;
  margin-right: 10px;
  border: 2px solid lightgray;
  border-radius: 10px;
}
.facettitle{
  text-decoration: underline;
}
.facetitem:hover{
  background-color: rgba(112,189,189,0.5);
}
.facetsearch {
  display: inline-block;
  vertical-align: top;
}
.activeorderby,
.activefacet {
  color: red;
}
.bottomline {
  padding: 10px 0 10px 0;
  font-weight: bold;
}
.bottomline .orderby, {
  display: block;
}
.bottomline .facettotalcount {
  display: block;
}
.bottomline .orderby ul,
.bottomline .orderby li {
  display: block;
}
/*      .bottomline .orderby-title {
  margin: 0 0 0 10px;
}*/
.bottomline .deselectstartover {
/*      float: right;*/
}

#showmorebutton {
  border: 1px solid #AAA;
  border-radius: 15px;
  background-color: #DDD;
  margin: 10px;
  padding: 10px;
  width: 100%;
  display: block;
  text-align: center;
  cursor: pointer;
}

/* Styles used by the regular content */
#facet_content table{
  border-collapse: collapse;
}
#facet_content td.assays {
  width: 30px;
} 
#facet_content th.reg {
  vertical-align:bottom;
}  
#facet_content th.assays{
  height: 80px;
  white-space: nowrap;
}      
#facet_content th.assays > div {
  -ms-transform:translate(10px, 22px) rotate(315deg);
  -moz-transform:translate(10px, 22px) rotate(315deg);
  -webkit-transform:translate(10px, 22px) rotate(315deg);
  -o-transform:translate(10px, 22px) rotate(315deg);
  transform:translate(10px, 22px) rotate(315deg);
  width: 30px;
}
#facet_content th.assays > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
#facet_content td.assays {
  text-align: center;
}
#facet_content tbody tr:nth-child(even) {
   background-color: lightgray;
}
#facet_content td.assays a {
  color: green;
  font-size: 20px;
  text-decoration:none;
}
      
      

      