* {
	border:0;
	outline:0;
	font-size:13px;
	vertical-align:baseline;
	background:transparent;
	margin:0;
	padding:0;
}
.entry_data {
  display: none;
}

body {
  background: #fff;
  color: #030303;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}

a:hover {
	text-decoration:none;
}
a:hover,a:active{
	outline:none;
}

a,a:active,a:visited,.form-type-item a,.node h2 a:hover {
	color:#20c8e7;
}

pre,code,kbd,samp {
	font-family:monospace,sans-serif;
}


h1,h2,h3,h4,h5,h6,strong,th {
	font-weight:700;
}

header h1 {
  display: inline;
  font-size: 30px;
  font-weight: normal;
  line-height: 35px;
  letter-spacing: -1px;
}

#main {
  position: absolute;
  top: 120px;
  left: 200px;
}

#main h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 35px;
  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;
  font-size: 15px;
  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;
  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  position: absolute;
  top: 110px;
  left: 0px;
  width: 150px;
  padding: 20px 20px 0 0;
  border-right: 1px solid #ccc;
  text-align: right;
  background-color: black;
  color: rgb(210, 210, 210);
  height: 100%;
}
#sidebar a {
  text-decoration: none;
  color: inherit;
}
#sidebar a:hover {
  color: black;
  background-color: white;
}
#sidebar h2 {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 20px;
}

blockquote {
  margin: 1.5em 0 1.5em -1.5em;
  padding: .75em .5em .75em 1em;
  background: white;
  border-left: 0.5em solid #DDD;
  webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  line-height: 1.5;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 15px;
  font-size: 10px;
}

.chart_wrapper {
  margin: 15px auto;
  width: 320px;
  height: 240px;
  text-align: center;
}
